html,
body {
    margin: 0;
    height: 100%;
    background-color: #808080;
}

#keyboard-container {
    position: fixed;
    top: 2%;
    left: 25%;
    width: 50%;
    height: 5%;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

#keyboard-input {
    position: relative;
    height: 100%;
    width: 100%;
    border-radius: 25px;
    border: 1px solid black;
    padding: 0px;
    text-align: center;
    background-color: #808080;
    color: transparent;
    z-index: 2;

    /* user-select: none;
    text-decoration: none;
    cursor: default; */
}

#keyboard-input:focus {
    outline: none;
    box-shadow: none;
    border: 2px solid black;
    background-color: #696969;
    /* cursor: default; */
}

#keyboard-overlay-text {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
    pointer-events: none;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#keyboard-input:focus+#keyboard-overlay-text {
    font-weight: bolder;
}

#touchpad {
    width: 100%;
    height: 100%;
    background-color: #a9a9a9;
}

#ip-address-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#ip-address-text,
#ip-address {
    margin: 0px;
    font-size: 3em;
    width: 80%;
}

#ip-address-text {
    margin-bottom: 0.5em;
}

#ip-address {
    font-weight: bold;
}

/* mobile */
@media screen and (max-width: 600px) and (orientation: portrait) {
    #ip-address-container {
        display: none;
    }
}

/* desktop */
@media screen and (min-width: 600px) {
    #keyboard-container {
        display: none;
    }

    #touchpad {
        display: none;
    }
}