:root {
    --bg-primary-color: #E0E0E0;
    --bg-secondary-color: #BDBDBD;
    --bg-secondary-active-color: #9E9E9E;
    --border-color: #000000;
}

html,
body {
    margin: 0;
    height: 100%;
    background-color: var(--bg-primary-color);
}

/* Settings modal */
#settings-button-open {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 1;
    top: 2%;
    right: 9.319%;
    height: 5vh;
    padding: 0;
    border: 0;
}

#settings-button-close {
    padding: 0;
    border: 0;
    margin-left: auto;
}

.bi-list,
.bi-x-lg {
    font-size: 2em;
}

.modal {
    --bs-modal-bg: var(--bg-primary-color);
    --bs-modal-header-border-color: var(--bg-primary-color);
    --bs-modal-footer-border-color: var(--bg-secondary-color);
    border-radius: 25px;
}

.modal-header {
    padding: 4% 9.5%;
}

.fs-5 {
    margin-bottom: 1rem;
}

#scroll-sensitivity-adjustment-container,
#mouse-sensitivity-adjustment-container {
    display: flex;
    margin-bottom: 3rem;
}

/* Keyboard Container */
#keyboard-container {
    position: fixed;
    top: 1rem;
    left: 25%;
    width: 50%;
    height: 5vh;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

#keyboard-input {
    position: relative;
    height: 100%;
    width: 100%;
    border-radius: 25px;
    border: 1px solid var(--border-color);
    padding: 0;
    text-align: center;
    background-color: var(--bg-secondary-color);
    color: transparent;
    caret-color: transparent;
}

#keyboard-input:focus {
    outline: none;
    box-shadow: none;
    border: 2px solid var(--border-color);
    background-color: var(--bg-secondary-active-color);
}

#keyboard-overlay-text {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#keyboard-input:focus+#keyboard-overlay-text {
    font-weight: bolder;
}

/* Mouse Button Container */
#mouse-button-container {
    position: fixed;
    bottom: 1rem;
    left: 25%;
    width: 50%;
    height: 5vh;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mouse-button-input {
    width: 100%;
    height: 100%;
    border: 0;
    padding: 0;
    border: 1px solid var(--border-color);
    background-color: var(--bg-secondary-color);
}

.mouse-button-input:active {
    outline: none;
    box-shadow: none;
    border: 2px solid var(--border-color);
    background-color: var(--bg-secondary-active-color);
}

#left-click-button-input {
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}

#right-click-button-input {
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}

/* Touchpad */
#touchpad {
    width: 100%;
    height: 100%;
    background-color: var(--bg-primary-color);
}

/* IP Address Container */
#ip-address-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#ip-address-text,
#ip-address {
    margin: 0;
    width: 80%;
}

#ip-address {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#ip-address-text {
    font-size: 3em;
    margin-bottom: 0.5em;
}

/* Mobile */
@media screen and (max-width: 600px) and (orientation: portrait) {
    #ip-address-container {
        display: none;
    }
}

/* Desktop */
@media screen and (min-width: 600px) {

    #keyboard-container,
    #mouse-button-container,
    #touchpad,
    #settings-button-open {
        display: none;
    }
}