html,
body {
    margin: 0;
    height: 100%;
}

#keyboard-container {
    position: fixed;
    top: 2%;
    left: 25%;
    width: 50%;
    height: 5%;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

#keyboard-input {
    position: relative;
    height: 100%;
    width: 100%;
    border-radius: 25px;
    border: 1px solid black;
    padding: 0px;
    text-align: center;
    background-color: #808080;
    color: transparent;
    z-index: 2;
}

#keyboard-input:focus {
    outline: none;
    box-shadow: none;
    border: 2px solid black;
    background-color: #696969;
}

#keyboard-input:hover {
    cursor: default;
}

#keyboard-overlay-text {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
    pointer-events: none;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#keyboard-input:focus+#keyboard-overlay-text {
    font-weight: bolder;
}

#touchpad {
    width: 100%;
    height: 100%;
    background-color: #a9a9a9;
}

#ip-address {
    display: none;
}