<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Mobile MKB</title>
</head>

<body>
    <div id="touchpad"></div>
    <input type="text" name="keyboard" id="keyboard">

    <div id="ip-address"></div>

    <script>
        const ipAddress = {{ IP_ADDRESS| tojson }}
        const port = {{ PORT| tojson }}
        document.getElementById("ip-address").innerText = `${ipAddress}:${port}`
    </script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>

</html>